@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir.eot'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf')  format('truetype');
  }

  body{
      font-family: 'vazir';
      direction: rtl;
      text-align: right;
      background: #272C4A;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slidenav{
    width: 300px;
    height: 100%;
    position: fixed;
    background: #272c4a;
    z-index: 99;
    top: 0;
    right: 0;
    padding-top: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.slidenav .logo{
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.slidenav .logo span{
    color: #bcce1b;
}
.slidenav .logo.active{
    opacity: 0;
    visibility: hidden;
}
.slidenav a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px 15px 8px;
    font-size: 18px;
    color: #818181;
    height: 50px;
    overflow: hidden;
}

.slidenav a:hover{
    color: #f1f1f1;
    background: #1b203d;
}

/* .slidenav a span{
    display: flex;
    align-items: center;
} */

.slidenav a span svg{
    margin-left: 10px;
}

#mySlidenav.active{
    width: 80px;
}


#main{
    margin-right: 300px;
    padding: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#main.active{
    margin-right: 100px;
}

#main .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#main .head .fa-bars{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#main .head .nav2{
    color: #fff;
    font-size: 25px;
}

#main .head .prof-admin p{
    color: #fff;
    font-size: 14px;
}

#main .head .prof-admin span{
    color: #8e8e8e;
    font-size: 12px;
    display: block;
}

#main .information{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#main .information .col-div-3{
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
}

#main .information .col-div-3 .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00000026;
    padding: 20px 50px;
}

#main .information .col-div-3 .box .box-icon svg{
    color: #818181;
    font-size: 40px;
}
#main .information .col-div-3 .box .box-text{
    font-size: 35px;
    color: white;
    text-align: center;
}

#main .information .col-div-3 .box .box-text h3{
    font-size: 20px;
    font-weight: 400;
    color: #818181;
    margin-top: 15px;
}

#main .main-content{
    padding: 20px;
    margin-top: 30px;
    background: #00000026;
}

#main .main-content h2{
    color: #bcce1b;
    margin-bottom: 30px;
}

#main .main-content table{
    width: 100%;
    border-collapse: collapse;
}

#main .main-content table tr td,#main .main-content table th{
    padding: 15px;
    color: #ddd;
    text-align: right;
    border-bottom: 1px solid rgba(126,126,126,.2);
}



.icon-a.active{
    visibility: hidden;
}
.icon.active{
    visibility: visible;
}

@media screen and (max-width: 992px){
    #main .information{
        flex-wrap: wrap;
    }
    #main .information .col-div-3{
        flex: 0 0 calc(100%);
        max-width: calc(100%);
        margin-top: 20px;
    }
}

.form-group label{
    display: block;
    color: #bcce1b;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-group input{
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: 8px;
    outline: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.form-group select{
    border: none;
    padding: 5px;
    width: 50%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.form-group .edit-user-submit{
    background-color: #bcce1b;
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.is-active{
    color: #f1f1f1 !important;
    background: #1b203d;
}

.is-active > span{
    color: #f1f1f1;
}

.main-content table{
    display: block;
    overflow: scroll;
}

.about-us-table thead tr th{
    white-space: nowrap;
}

.sidebar-dropdown{
    display: none;
}

.table tr th,
.table thead td{
    text-wrap: nowrap;
}

.ck-editor{
    width: 50% !important;
}
